/* for hero section resume animation | <Hero /> */
@keyframes slide {
    0%{
        top: 0;
    }
    100%{
        top: -45%;
    }
}

.slide{
    animation: slide 15s infinite linear;
}

/* for navlink active class */
.active{
    background-color: #3b82f6;
    color: white;
}

/* loading animation in buttons */
.loadingAnimation{
    animation: loading 1s infinite linear both;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid white;
    border-top: 2px solid black
}

@keyframes loading {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}


/* for the navigation bar | <Navbar /> */